<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="alert alert-danger" role="alert" ng-show="error">
      <!-- <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> -->
      <span class="sr-only"></span>
        Error: {{ error.error }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
            Games
        </div>
        <div class="panel-body">
          <div class="list-group">
            <a ng-repeat="game in games" ng-click="selectGame($index)" ng-class="{active: games[$index]._id == selectedGameId}" href="#" class="list-group-item"> {{ game.creator.username }} - {{ game.status }}
            <span class="badge">{{ game.players.length }}</span>
            </a>
          </div>
          <button type="button" ng-click="createGame()" class="btn btn-primary">New Game</button>
        </div>  
      </div>
    </div>
    <div class="col-sm-8">
      <div ng-show="selectedGame" class="panel panel-default">
        <div class="panel-heading">
            <p>Game Creator: {{ selectedGame.creator.username }} | Created at: {{ selectedGame.createdAt }}</p>
        </div>
        <div ng-show="selectedGame.status == 'Pending'" class="panel-body">
          <ul class="list-group">
            Players
            <li ng-repeat="player in selectedGame.players" class="list-group-item"> {{ player.username }}
              <span class="badge">{{ player.rating.mean | ratingDisplay }}</span>
            </li>
          </ul>
          <button type="button" ng-hide="(selectedGame.creator._id == user._id) || (selectedGame._id == user.currentGame)" ng-click="joinGame()" class="btn btn-primary">Join Game</button>
           <button type="button" ng-show="selectedGame._id == user.currentGame" ng-click="leaveGame()" class="btn btn-warning">Leave</button>
          <button type="button" ng-show="selectedGame.creator._id == user._id" ng-click="cancelGame()" class="btn btn-danger">Cancel Game</button>
          <button type="button" ng-show="selectedGame.creator._id == user._id && selectedGame.players.length >= 2" ng-click="startGame()" class="btn btn-primary">Start Game</button>
        </div>
        <div ng-show="selectedGame.status == 'In Progress'" class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <p> Match Quality: {{ selectedGame.matchQuality }}</p>
            </div>
          </div>
          <div class="row">
           <div class="col-sm-6">
            <ul class="list-group">
            Team A
              <li ng-repeat="member in selectedGame.teamA" class="list-group-item">
                {{ member.player.username }}
                <span class="label label-success">
                  {{ member.stakes.win.mean - member.player.rating.mean | ratingDisplay }}
                </span>
                <span class="label label-danger">
                  {{ member.stakes.lose.mean - member.player.rating.mean | ratingDisplay }}
                </span>
                <span class="badge">{{ member.player.rating.mean | ratingDisplay }}</span>
              </li>
            </ul>
           </div>
           <div class="col-sm-6">
            <ul class="list-group">
            Team B
              <li ng-repeat="member in selectedGame.teamB" class="list-group-item">
                {{ member.player.username }}
                <span class="label label-success">
                  {{ member.stakes.win.mean - member.player.rating.mean | ratingDisplay }}
                </span>
                <span class="label label-danger">
                  {{ member.stakes.lose.mean - member.player.rating.mean | ratingDisplay }}
                </span>
                <span class="badge">{{ member.player.rating.mean | ratingDisplay }}</span>
              </li>
            </ul>
           </div>
          </div>
          <div class="row" ng-show="selectedGame.status == 'In Progress'">
            <div class="col-sm-12">
              Vote: <button type="button" ng-click="voteTeamA()" class="btn btn-success">Team A Wins</button>
              <button type="button" ng-click="voteTeamB()" class="btn btn-success">Team B Wins</button>
              <button type="button" ng-click="voteVoid()" class="btn btn-danger">Vote Void</button>
            </div>
          </div>
          <div ng-show="selectedGame.results.length > 0" class="row">
            <div class="col-sm-6">
              <div class="well well-sm">
                Votes: Team A - {{ tally.A }} | Team B - {{ tally.B }} | Void - {{ tally.scratch }}
              </div>
            </div>
            <div ng-show="tally.winner" class="col-sm-6">
              Result: {{ tally.winner }}
            </div>
          </div>
        </div>
        <div ng-show="selectedGame.status == 'Complete'" class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <p> Match Quality: {{ selectedGame.matchQuality }}</p>
            </div>
          </div>
          <div class="row">
           <div class="col-sm-6">
            <ul class="list-group">
            Team A
              <li ng-repeat="member in selectedGame.teamA" class="list-group-item">
                {{ member.player.username }}
                <span ng-show="tally.winner == 'A'" class="label label-success">
                  {{ member.stakes.win.mean | ratingDisplay }}
                </span>
                <span ng-show="tally.winner == 'B' "class="label label-danger">
                  {{ member.stakes.lose.mean | ratingDisplay }}
                </span>
              </li>
            </ul>
           </div>
           <div class="col-sm-6">
            <ul class="list-group">
            Team B
              <li ng-repeat="member in selectedGame.teamB" class="list-group-item">
                {{ member.player.username }}
                <span ng-show="tally.winner == 'B'"class="label label-success">
                  {{ member.stakes.win.mean | ratingDisplay }}
                </span>
                <span ng-show="tally.winner == 'A'"class="label label-danger">
                  {{ member.stakes.lose.mean | ratingDisplay }}
                </span>
              </li>
            </ul>
           </div>
          </div>
          <div ng-show="selectedGame.results.length > 0" class="row">
            <div class="col-sm-6">
              <div class="well well-sm">
                Votes: Team A - {{ tally.A }} | Team B - {{ tally.B }} | Void - {{ tally.scratch }}
              </div>
            </div>
            <div ng-show="tally.winner" class="col-sm-6">
              Result: {{ tally.winner }}
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p><a href="https://www.youtube.com/watch?v=rivFCwwvoh8">Report Bugs Here</a></p> 
  </div>
</footer>
