<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
<!--       <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a href="/" class="navbar-brand">j9dl</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="notLoggedIn">
          <a href="api/auth/steam" target="_self"><img src="http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png" width="154" height="23" border="0"></a>
        </li>
        <li class="dropdown" ng-show="user" style="width:300px">
          <img class="img-rounded" ng-src="{{user.steamProfile.photos[0].value}}" style="float:left;margin-top:8px;margin-right:12px"/>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
            {{ user.steamProfile.displayName }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <!-- <li><a href="#">Account Settings</a></li> -->
            <li><a href="#" ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
